<div data-role="panel" data-display="overlay" data-position="right" id="filterPanel">
	<a data-role="button" href='/movies' data-icon="delete" data-iconpos="right">Clear Filter</a>
	<form id='filterForm'>
		
		<div data-role="fieldcontain" id='watchedFilter'>
		  <fieldset data-role="controlgroup" data-type="horizontal">
			<input type="checkbox" name="watched-yes" id="watched-yes"
				class="filter watched" {{isChecked "watched" "1"}}/>
			<label for="watched-yes">Watched</label>
		 
			<input type="checkbox" name="watched-no" id="watched-no" class="filter watched" {{isChecked "watched" "0"}}/>
			<label for="watched-no">Unwatched</label>  
		  </fieldset>
		</div>

		<select name='genre' class='filter genre'>
			<option value="" {{isSelected "genres.name" undefined}}>Genre</option>	
			<option value="Action" {{isSelected "genres.name" "Action"}}>Action</option>	
			<option value="Adventure" {{isSelected "genres.name" "Adventure"}}>Adventure</option>	
			<option value="Animation" {{isSelected "genres.name" "Animation"}}>Animation</option>	
			<option value="Comedy" {{isSelected "genres.name" "Comedy"}}>Comedy</option>	
			<option value="Crime" {{isSelected "genres.name" "Crime"}}>Crime</option>	
			<option value="Documentary" {{isSelected "genres.name" "Documentary"}}>Documentary</option>	
			<option value="Drama" {{isSelected "genres.name" "Drama"}}>Drama</option>	
			<option value="Family" {{isSelected "genres.name" "Family"}}>Family</option>	
			<option value="Fantasy" {{isSelected "genres.name" "Fantasy"}}>Fantasy</option>	
			<option value="Foreign" {{isSelected "genres.name" "Foreign"}}>Foreign</option>	
			<option value="History" {{isSelected "genres.name" "History"}}>History</option>	
			<option value="Horror" {{isSelected "genres.name" "Horror"}}>Horror</option>	
			<option value="Music" {{isSelected "genres.name" "Music"}}>Music</option>	
			<option value="Mystery" {{isSelected "genres.name" "Music"}}>Music</option>	
			<option value="Romance" {{isSelected "genres.name" "Romance"}}>Romance</option>	
			<option value="Science Fiction" {{isSelected "genres.name" "Science Fiction"}}>Science Fiction</option>	
			<option value="TV movie" {{isSelected "genres.name" "TV movie"}}>TV movie</option>	
			<option value="Thriller" {{isSelected "genres.name" "Thriller"}}>Thriller</option>	
			<option value="War" {{isSelected "genres.name" "War"}}>War</option>	
			<option value="Western" {{isSelected "genres.name" "Western"}}>Western</option>	
		</select>


		<select name='mpaa' class='filter mpaa'>
			<option value="" {{isSelected "mpaa" undefined}}>MPAA</option>
			<option value="G" {{isSelected "mpaa" "G"}}>G</option>
			<option value="PG" {{isSelected "mpaa" "PG"}}>PG</option>
			<option value="PG-13" {{isSelected "mpaa" "PG-13"}}>PG-13</option>
			<option value="R" {{isSelected "mpaa" "R"}}>R</option>
			<option value="NC-17" {{isSelected "mpaa" "NC-17"}}>NC-17</option>
		</select>

		<select name='quality' class='filter quality'>
			<option value="" {{isSelected "file.quality" undefined}}>Quality</option>
			<option value="1080p" {{isSelected "file.quality" "1080p"}}>1080p</option>
			<option value="720p" {{isSelected "file.quality" "720p"}}>720p</option>
			<option value="DVD" {{isSelected "file.quality" "DVD"}}>DVD</option>
		</select>

		 <div data-role="rangeslider" data-mini="true">
			<label for="releaseMin">Release Year</label>
			<input class='filter' name="releaseMin" id="releaseMin" min="1920" max="2016" value="{{filterValue 'releaseMin'}}" type="range">
			<label for="releaseMax">Release Year</label>
			<input class='filter' name="releaseMax" id="releaseMax" min="1920" max="2016" value="{{filterValue 'releaseMax'}}" type="range">
		</div>

		<button type='submit' id='filterSubmit'>Submit</button>
	</form>
	<script type="text/javascript">

	</script>
</div>