<div data-role="panel" data-display="overlay" id="globalMenu" >
	<ul data-role='listview' data-theme='a'>
		<li><a href="/movies/recent">
			<img src='/images/glyphicons/glyphicons_star.png'/>
			Recently Added
		</a></li>
		<li><a href="/movies/unwatched">
			<img src='/images/glyphicons/glyphicons_watched_false.png'/>
			Unwatched
		</a></li>
		<li><a href="/movies/queue">
			<img src='/images/glyphicons/glyphicons_list.png'/>
			Queue
		</a></li>
		<li><a href="/movies/favorites">
			<img src='/images/glyphicons/glyphicons_heart.png'/>
			Favorites
		</a></li>
		<li><a href="/movies/genres">
			<img src='/images/glyphicons/glyphicons_tags.png'/>
			Genres
		</a></li>
		<li><a href="/people">
			<img src='/images/glyphicons/glyphicons_group.png'/>
			People
		</a></li>
		<li><a href="/nowplaying">
			<img src='/images/glyphicons/glyphicons_projector.png'/>
			Now Playing
		</a></li>
	</ul>
</div>