<section class='content' data-role="content">
	<section id='recentAdditions'>
		<h2 class='sectionTitle dark'><a href='/movies/recent'>Recent Additions</a></h2>
		<div id='mainSlider' style='margin:0 auto' class='owl-carousel owl-theme slider'>
			{{#recent}}
		    <div class='item'><div>
		    	<a href='/movies/details/{{id}}'>
		    		<img class='movie' src='{{backdrop}}'/>
	    		</a>
		    	<span class='caption'>{{title}}</span>
		    </div></div>
			{{/recent}}
		</div>
	</section>
	<section id='queue'class='subSection'>
		<h2 class='sectionTitle'>Queue</h2>
		<div id='' style='margin:0 auto' class='owl-carousel owl-theme carousel'>
			{{#queue}}
	    	<a href='/movies/details/{{id}}'>
	    		<img class='movie' src='{{posterThumb}}'/>
    		</a>
			{{/queue}}
		</div>
	</section>
	<div class='unwatched' data-role="navbar">
	    <ul>
	        <li><a href="/movies/unwatched" class="ui-btn-active">Browse All Unwatched</a></li>
	    </ul>
	</div>
	<section id='people'class='subSection'>
		<h2 class='sectionTitle'>Prolific Actors</h2>
		<div id='' style='margin:0 auto' class='owl-carousel owl-theme carousel'>
			{{#actors}}
	    	<a href='/people/details/{{id}}' title='{{name}}'>
	    		<img class='movie' src='{{profileImage}}'/>
    		</a>
			{{/actors}}
		</div>
	</section>
</section>
<footer class='footer' data-role='footer'>
	<img class='bigLogo' src='/images/logo-large2.png'/>
</footer>
<style>
.content {
	padding:0;
	background: #eee;
}
.subSection {
	border-top: 4px solid #FF6600;
	padding: 0 15px 0px 15px;
	background: #eee;
}
#queue {
	position: relative;
	top:-35px;
	padding-bottom: 0px
}
.subSection .sectionTitle {
	margin: 25px 0 5px 0;
}
.sectionTitle {
	text-decoration: none;
}
.unwatched.ui-navbar {
	margin:0;
	height:auto;
	position: relative;
	top: -20px;
}
#recentAdditions {
	background: #444; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #666 1%, #333 120%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 120%, color-stop(1%,#666), color-stop(120%,#333)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #666 1%,#333 120%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #666 1%,#333 120%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #666 1%,#333 120%); /* IE10+ */

}
#mainSlider .item {
	position: relative;
}
#mainSlider .item > div{
	display: block;
	margin-top: 0px;
	border-radius: 4px;
	text-align: center;
}
#mainSlider .item img.movie{
	width: 100%;
	-webkit-box-shadow: 0 0px 5px 0px #000;
	box-shadow: 0 0px 5px 0px #000;
}
.slider .item .caption {
	color: #f7f7f7;
	text-shadow: none;
	margin: 0 auto;
	width: 100%;
	position: relative;
	top: -53px;
	background: rgba(0, 0, 0, 0.7);
	font-size: 1.7em;
	padding: 10px;
	display: block;
}
#mainSlider > div.owl-controls {
	position: relative;
	top: -50px;
}
.owl-theme .owl-controls .owl-page span {
	background: #FF6600;
}
.sectionTitle.dark {
	font-size: 1.5em;
	margin: 0 0 3px 0;
	display: none;
}
.sectionTitle.dark a,
.sectionTitle.dark a:visited {
	text-decoration: none;
	color: #f7f7f7;
	font-weight: 100;
}
.carousel .owl-item img {
	border: 4px solid #ff6600;
	height: 130px;
}
.carousel .owl-wrapper-outer {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 11px 0 8px;
}
#people {
	position: relative;
top: -23px;
}
footer.footer.ui-footer {

	background: #fff;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #acacac;
	border-bottom: none;
}
footer.footer.ui-footer img.bigLogo {
	width:60%;
}
</style>
<script>
$(document).ready(function() {
 
  $("#mainSlider").owlCarousel({
 
      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      autoPlay:true
      // autoHeight:true
  });

  var owl = $("#owl-demo");
 
  $(".carousel").owlCarousel({
      items : 10, //10 items above 1000px browser width
      itemsDesktop : [1000,7], //7 items between 1000px and 801px
      itemsDesktopSmall : [700,5], // betweem 900px and 601px
      itemsTablet : [500,4], // itemsMobile disabled - inherit from itemsTablet option
      itemsMobile : [400, 3] // itemsMobile disabled - inherit from itemsTablet option
  });
});
</script>