
<div class='content' data-role='content'>
	<h1 class='centeredTitle'>Choose a screen</h1>
	<section class='ui-grid-a primary'>
		<div class='block ui-block-a'>
			<div>
				<a href='{{nasUrl}}' target='_blank'>
					<img class='screenOption' src='/images/device.png' alt='This device'/>
					<h3 class='screenOption'>This device</h3>
				</a>
			</div>
			<div>			
				<a href='#' class='vlc' data-id='{{id}}' data-port='5051'>
					<img class='screenOption' src='/images/muffy.jpg' alt='Bedroom'/>
					<h3 class='screenOption'>Bedroom</h3>
				</a>
			</div>

		</div>
		<div class='block ui-block-b'>
			<div>			
				<a href='#' class='vlc' data-id='{{id}}' data-port='5050'>
					<img class='screenOption' src='/images/thora.jpg' alt='Thora'/>
					<h3 class='screenOption'>Living Room</h3>
				</a>
			</div>
			<div>			
				<a href='#' class='vlc' data-id='{{id}}' data-port='5052'>
					<img class='screenOption' src='/images/ratburn.jpg' alt='Laptop'/>
					<h3 class='screenOption'>Laptop</h3>
				</a>
			</div>

		</div>
	</section>
	<h2 class='centeredTitle'>Launching {{title}}...</h2>
</div>

<script>
	$("a.vlc").on("click", function (event) {
		event.preventDefault();
		var url = '/nowPlaying/play/' + $(this).data('id') + "?port=" + $(this).data("port");
		window.location.href = url;
	});
</script>

<style>
.ui-page > div {
	background: #444;
}
.centeredTitle {
	text-align: center;
	text-shadow: none;
	color: #eee;
	font-size: 1.5em;
}

h3.screenOption {
	color: #f7f7f7;
	text-shadow: none;
	background: rgba(0,0,0,0.8);
	padding: 10px 20px;
	font-size: 1.1em;
	margin: 0;
	font-weight: 100;
	text-align: center;
}
img.screenOption {
	width:100%;
	height:130px;
	max-width: 150px;
}
.block {
	opacity: .9;
}
.block a {
	text-decoration: none;
}
.block:hover {
	opacity: 1;
}
.block.ui-block-a {
	padding-right: 10px;
}
.block.ui-block-b {
	padding-left: 10px;
}
.block > div {
	border:4px solid #FF6600;
	background: #fff;
	margin: 0 0 20px;
	text-align: center;
}
<style>